{% extends 'blog/base.html' %}

{% block content %}
	<div class="row">
	    <div class="col-md-12">
		    <div id="plan-detail">
		        <h2>{{ plan.Injury }}</h2>
		        <br>
		        <div id="acute-plan">
		        {% if plan.Category == "Procedures" or plan.Category == "Rotations_logistics" or plan.Category == "Attending_preferences" %}
			        <span id="acute-plan-info">
				        <p>{{ plan.Acute_plan|safe|linebreaksbr }}</p>
			        </span>
					
					{% else %}
 			        <ul id="acute-plan-info">
				        {{ plan.Acute_plan|safe }}
			        </ul>
				<br>
				{% endif %}
		    </div>
		</div>
        <br>
	</div>
{% endblock %}