{% extends 'blog/base.html' %}

{% block content %}
	<div class="row">
	    <div class="col-md-12">
		    <div id="plan-detail">
		        <h2>{{ plan.Injury }}</h2>
		        <br>
		        <div id="acute-plan">
		        	{% if plan.Category == "Procedures" or plan.Category == "Rotations_logistics" %}
			        <span id="acute-plan-info">
				        <p>{{ plan.Acute_plan|safe|linebreaksbr }}</p>
			        </span>
			
			     	{% else %}
			        <label style="width:150px;"><u><h3>Acute Plan</h3></u></label>
					<button type="button" class="btn btn-primary" Injury_key="{{ plan.Injury_key }}" id="plan-detail-button" data-state="unclicked">Detail
					</button>
					<br>
			        <span id="acute-plan-info">
				        <p>{{ plan.Acute_plan|safe|linebreaksbr }}</p>
			        </span>
				<br>

				<div id="follow-up">
			        <u><h3>Follow Up</h3></u>
			        <p>{{ plan.Follow_up|safe|linebreaksbr }}</p>
			    </div>
				{% endif %}
		    </div>
		</div>
        <br>
	</div>
{% endblock %}